---
permalink: "/search.json"
eleventyExcludeFromCollections: true
---

{% set items = [] %}

{% for p in collections.posts %}
  {% set items = items.concat([{
    title: p.data.title,
    url: p.url,
    category: (p.data.category or ""),
    tags: (p.data.tags or []),
    description: (p.data.description or "")
  }]) %}
{% endfor %}

{{ items | dump | safe }}
