---
permalink: "/search.json"
eleventyExcludeFromCollections: true
---

[
{% for p in collections.posts %}
  {
    "title": {{ p.data.title | dump }},
    "url": {{ p.url | dump }},
    "category": {{ (p.data.category or "") | dump }},
    "tags": {{ (p.data.tags or []) | dump }},
    "description": {{ (p.data.description or "") | dump }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
